* {
}
.cards {
  padding: 100px 150px 0 150px;
  display: flex;
  justify-content: space-around;
}
.card {
  width: 310px;
  height: 460px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.card-banner {
  width: 290px;
  margin-bottom: 10px;
  margin: auto;
  padding-top: 10px;
}
.banner-img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.card-info {
  max-width: 100%;
  margin: 10px 0 0 10px;
}
.primary-btn {
  padding: 10px;
  background: #608ddb;
  border: none;
  border-radius: 5px;
}
.primary-btn a {
  text-decoration: none;
  color: white;
}
.info-heading {
  font-size: 25px;
  font-family: Montserrat;
}
.info-description {
  font-family: Kanit;
  font-size: 15px;
}

@media screen and (max-width: 576px) {
  .cards {
    flex-direction: column;
    padding: 0;
  }
}
